* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.align-right div{
    text-align: right;
}
.maincontainer {
    margin: 0;
}
.flexbox-horizontal {
    display: flex;
    flex-direction: row;
}
.flexbox-horizontal * {
    flex: 1;
}
.flexbox-vertical {
    display: flex;
    flex-direction: column;
}
.flexbox-vertical * {
    flex: 1;
}
.bg1 {
    background-color: #1F2937;
}
.heromain {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.stext {
    font-size: 18px;
    color: #E5E7EB
}
.header {
    font-size: 24px;
    color: #F9FAF8;
}
.segment {
    height: 1000px;
}
.flexsize1 {
    width: 75%;
    margin: 0 auto;
    padding-top: 30px
}
.flexsize2 {
    margin: 250px;
}
img {
    height: 100%;
}
button {
    background-color: #3882f6;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 0;
}