@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.align-right{
    text-align: right;
}
.spacebetween {
    justify-content: space-between;
}
.maincontainer {
    margin: 0;
}
.flexbox-horizontal {
    display: flex;
    flex-direction: row;
}
.flexbox-horizontal * {
    flex: 1;
    margin: 20px;
    min-width: 0;
}
.flexbox-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexbox-vertical * {
    flex: 1;
    text-align: center;
    min-width: 0;
}
.bg1 {
    background-color: #1F2937;
}
.bg2 {
    background-color: #E5E7EB;
}
.bg3 {
    background-color:#3882f6;
}
.heromain {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.stext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
}
.segment {
    height: 800px;
}
.segmentsmall {
    height: 600px;
}
.flexsize1 {
    width: 80%;
    margin: 0 auto;
}
.flexsize1b {
    width: 65%;
    margin: 0 auto;
}
.flexsize2 {
    margin-top: 150px;
    margin-bottom: 150px;
}
.centertext {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.infoheader {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin-bottom: -85px;
}
.infoheader.align-right{
    font-size: 25px;
}
img {
    height: 100%;
}
.square {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border: 3px solid #3882f6;
}
button {
    background-color: #3882f6;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 0;
    color:#F9FAF8;
    font-size: 30px;
}
.rounded {
    border-radius: 14px;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1f2937;
    padding-top: 225px;
}
.whiteborder {
    border: 3px solid white;
}